.menu nav{
    width: 960px;
    margin:0 auto;
    position: absolute;
}

.menu {
    width: 100%;
    background: #ff8000;
    max-width: fit-content;
}
.menu ul{
    margin: 0;
    padding: 0;
    height: 50px;
    list-style: none;
}
.menu ul li{
    float:left;
}
.menu ul li a{
    color: #000000;
    height: 50px;
    display: block;
    padding: 0 15px;
    text-decoration: none;
    line-height: 50px;
}

.menu ul li a:hover{
    background: aqua;
}

.menu-container {
    display: flex;
    justify-content: flex-end;
    float:right;
    width: 50%;
}

.buttonkatalog{
    color: #000000;
    padding: 0px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.dropdown menus{
    position: relative;
    display: inline-block;
}

.sections{
    display: none;
    position: absolute;
    background-color: #ff8000;
    z-index: 10;
}

.sections__show {
    display: block;
}

.sections a {
    color: #000000;
    padding: 20px;
    text-decoration: none;
    display: block;
}

.p-1 {
    font-size: 21px;
    line-height: 15px;
    font-family: "Times New Roman";
    font-weight: 900;
    text-align: left;
    background: #ff8000;
    color: #000000;
    margin-top: 10px;
    word-spacing: 3px;
    font-style: oblique;
    text-decoration: underline;
    text-transform: capitalize;
}
.p-2 {
    font-size: 21px;
    line-height: 15px;
    font-family: "Times New Roman";
    font-weight: 900;
    text-align: center;
    background: #ff8000;
    color: rgb(0, 0, 0);
    margin-top: 10px;
    word-spacing: 3px;
    font-style: oblique;
    text-decoration: underline;
    text-transform: capitalize;
}

.img{
    height: 400px;
    width: 400px;
}

.img2 {
    width: 100px;
    height: 111px;
    float:left
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}
.post-itm{
    width: 100%;
}

.search{
    width: 100%;
}

.menu-footer nav{
    width: 960px;
    margin:0 auto;
}

.menu-footer {
    width: 100%;
    background: #ff8000;
    max-width: fit-content;
    margin: auto;
}
.menu-footer ul{
    margin: 0;
    padding: 0;
    height: 50px;
    list-style: none;
}
.menu-footer ul li{
    float:left;
}
.menu-footer ul li a{
    color: #000000;
    height: 50px;
    display: block;
    padding: 0 15px;
    text-decoration: none;
    line-height: 50px;
}

.menu-footer ul li a:hover{
    background: aqua;
}

.menu-container-footer {
    display: none;
    justify-content: flex-end;
    float: none;
    width: 100%;
}

.img_ {
    display: flex;
    flex-direction: column;
    align-items: center;

}

@media screen and (max-width: 1186px) {
    .post-itm{
        width: 70%;
    }
}

@media screen and (max-width: 671px) {
    h1{
        position: center;
    }
    .img2{
        position: center;
    }
    .menu{
        display: none;
    }
    .menu-container-footer{
        display: flex;
        z-index: 999;
        position: fixed;
    }

}

.carousel img{
    height: 500px;
}

.active{
    background: #eeeeee;
    text-decoration: none;
    color: #f0f0f0;
}


.active-desktop-link {
    border-bottom: 2px solid #ffffff;
}