doctype html
head
include component/script_head
    title &Acy;&kcy;&scy;&iecy;&scy;&scy;&ucy;&acy;&rcy;&ycy; &dcy;&lcy;&yacy; &tcy;&iecy;&lcy;&iecy;&fcy;&ocy;&ncy;&acy;
include component/header
include component/mainContent
        h3.text-center.my-5 &Acy;&kcy;&scy;&iecy;&scy;&scy;&ucy;&acy;&rcy;&ycy; &dcy;&lcy;&yacy; &tcy;&iecy;&lcy;&iecy;&fcy;&ocy;&ncy;&ocy;&vcy;
        #product.row
include component/footer
include component/script_foot
script(src='../js/accessories.js')