doctype html
head
include component/script_head
    title &Kcy;&ocy;&rcy;&zcy;&icy;&ncy;&acy;

include component/header
script.
  shineLinks("navbarContent")

main
    h3.text-center.my-5 &Kcy;&ocy;&rcy;&zcy;&icy;&ncy;&acy;
    #del.container
        h3#delS.text-center.my-5 &Scy;&mcy;&acy;&rcy;&tcy;&fcy;&ocy;&ncy;&ycy;
        #cartSmarphon.row
        h3#delP.text-center.my-5 &Kcy;&ocy;&mcy;&pcy;&lcy;&iecy;&kcy;&tcy;&ucy;&yucy;&shchcy;&icy;&iecy; &dcy;&lcy;&yacy; &Pcy;&Kcy;
        #cartPK.row
        h3#delN.text-center.my-5 &Ncy;&ocy;&ucy;&tcy;&bcy;&ucy;&kcy;&icy;
        #cartNote.row
    #cart
include component/footer
include component/script_foot
script(src='../js/cart.js')