doctype html
head
include component/script_head
    title &Scy;&rcy;&acy;&vcy;&ncy;&iecy;&ncy;&icy;&iecy; &tcy;&ocy;&vcy;&acy;&rcy;&ocy;&vcy;
include component/header
main
    h3.text-center.my-5 &Tcy;&ocy;&vcy;&acy;&rcy;&ycy; &dcy;&lcy;&yacy; &scy;&rcy;&acy;&vcy;&ncy;&iecy;&ncy;&icy;&yacy;
    #del.container
        h3#delS.text-center.my-5 &Scy;&mcy;&acy;&rcy;&tcy;&fcy;&ocy;&ncy;&ycy;
        button#sort-ascS.btn.btn-success.compS &TScy;&iecy;&ncy;&acy; &pcy;&ocy; &vcy;&ocy;&zcy;&rcy;&acy;&scy;&tcy;&acy;&ncy;&icy;&yucy;
        button#sort-descS.btn.btn-success.compSd &TScy;&iecy;&ncy;&acy; &pcy;&ocy; &ucy;&bcy;&ycy;&vcy;&acy;&ncy;&icy;&yucy;
        #cartSmarphon.row.cartSmarphon
        h3#delP.text-center.my-5 &Kcy;&ocy;&mcy;&pcy;&lcy;&iecy;&kcy;&tcy;&ucy;&yucy;&shchcy;&icy;&iecy; &dcy;&lcy;&yacy; &Pcy;&Kcy;
        button#sort-asPc.btn.btn-success.compP &TScy;&iecy;&ncy;&acy; &pcy;&ocy; &vcy;&ocy;&zcy;&rcy;&acy;&scy;&tcy;&acy;&ncy;&icy;&yucy;
        button#sort-descP.btn.btn-success.compPd &TScy;&iecy;&ncy;&acy; &pcy;&ocy; &ucy;&bcy;&ycy;&vcy;&acy;&ncy;&icy;&yucy;
        #cartPK.row.cartPK
        h3#delN.text-center.my-5 &Ncy;&ocy;&ucy;&tcy;&bcy;&ucy;&kcy;&icy;
        button#sort-ascN.btn.btn-success.compN &TScy;&iecy;&ncy;&acy; &pcy;&ocy; &vcy;&ocy;&zcy;&rcy;&acy;&scy;&tcy;&acy;&ncy;&icy;&yucy;
        button#sort-descN.btn.btn-success.compNd &TScy;&iecy;&ncy;&acy; &pcy;&ocy; &ucy;&bcy;&ycy;&vcy;&acy;&ncy;&icy;&yucy;
        #cartNote.row.cartNote
    #cart
include component/footer
include component/script_foot
script(src='../js/comparison.js')
script(src='../js/sort.js')