doctype html
head
include component/script_head
    title &Dcy;&ocy;&scy;&tcy;&acy;&vcy;&kcy;&acy;
include component/header
main
    h1.p-3.text-center &Dcy;&ocy;&scy;&tcy;&acy;&vcy;&kcy;&acy;
    h2.text-center &Dcy;&ocy;&scy;&tcy;&acy;&vcy;&kcy;&acy; &ocy;&scy;&ucy;&shchcy;&iecy;&scy;&tcy;&vcy;&lcy;&yacy;&iecy;&tcy;&scy;&yacy;:
    h5.text-center &vcy; &bcy;&ucy;&dcy;&ncy;&icy;&iecy;, &vcy;&ycy;&khcy;&ocy;&dcy;&ncy;&ycy;&iecy; &icy; &pcy;&rcy;&acy;&zcy;&dcy;&ncy;&icy;&chcy;&ncy;&ycy;&iecy; &dcy;&ncy;&icy;.
    h2.p-3.text-center &Scy;&tcy;&ocy;&icy;&mcy;&ocy;&scy;&tcy;&softcy; &dcy;&ocy;&scy;&tcy;&acy;&vcy;&kcy;&icy;:
    table.text-center.table.table-hover
        thead
            tr
                th(scope='col') &Gcy;&ocy;&rcy;&ocy;&dcy;
                th(scope='col') &TScy;&iecy;&ncy;&acy;
                th(scope='col') &Vcy;&rcy;&iecy;&mcy;&yacy;
                th(scope='col') &Dcy;&ncy;&icy; &dcy;&ocy;&scy;&tcy;&acy;&vcy;&kcy;&icy;
        tbody
            tr
                th(scope='row') &Scy;&acy;&ncy;&kcy;&tcy;-&Pcy;&iecy;&tcy;&iecy;&rcy;&bcy;&ucy;&rcy;&gcy;
                td &ocy;&tcy; 1000 &rcy;&ucy;&bcy;&lcy;&iecy;&jcy;
                td 12:00-23:00
                td &Pcy;&ncy;, &Vcy;&tcy;, &Scy;&rcy;
            tr
                th(scope='row') &Mcy;&ocy;&scy;&kcy;&vcy;&acy;
                td &ocy;&tcy; 10000 &rcy;&ucy;&bcy;&lcy;&iecy;&jcy;
                td 22:59-23:00
                td &Scy;&rcy;
            tr
                th(scope='row') &Kcy;&rcy;&ycy;&zhcy;&ocy;&pcy;&ocy;&lcy;&softcy;
                td 40 &gcy;&rcy;&icy;&vcy;&iecy;&ncy;&softcy;
                td 00:00-24:00
                td &Pcy;&ncy;, &Vcy;&tcy;, &Scy;&rcy;, &CHcy;&tcy;, &Pcy;&tcy;, &Scy;&bcy;, &Vcy;&scy;
    h2.p-3.text-center &Dcy;&ocy;&scy;&tcy;&acy;&vcy;&kcy;&acy; &dcy;&ocy; &kcy;&vcy;&acy;&rcy;&tcy;&icy;&rcy;&ycy;:
    h5.text-center &Ncy;&iecy; &ocy;&scy;&ucy;&shchcy;&iecy;&scy;&tcy;&vcy;&lcy;&yacy;&iecy;&tcy;&scy;&yacy;
include component/footer
include component/script_foot