doctype html
head
include component/script_head
    link(rel='icon' type='img/png' href='../photos/programmer.png')
include component/header
include component/mainContent
        h3.text-center.my-5 &Icy;&gcy;&rcy;&ocy;&vcy;&ycy;&iecy; &ncy;&ocy;&ucy;&tcy;&bcy;&ucy;&kcy;&icy;
        #product.row
include component/footer
include component/script_foot
script(src='../js/game.js')
