doctype html
head
include component/script_head
    title &Gcy;&lcy;&acy;&vcy;&ncy;&acy;&yacy; &scy;&tcy;&rcy;&acy;&ncy;&icy;&tscy;&acy;
if user !== ''
    include component/header_login
else
    include component/header
main
    include component/carousel
    .container
        h3.text-center.my-5 &Scy;&mcy;&acy;&rcy;&tcy;&fcy;&ocy;&ncy;&ycy;
        .row
            .col-12.col-sm-12.col-md-6.col-lg-3.col-xl-3.text-center.rounded.float-left.img_(style='border: 2px #ff8000 solid; width: 408px')
                div(style='display: flex; justify-content: space-around; align-items: center; height: 100%')
                    a(href='smartphfon.html')
                        img.img-thumbnail.post-itm(src='../photos/pocox3pro.jpg' style='height: 220px;')
                a.text-center(href='smartphfon.html' style='padding-bottom: 20px') &Scy;&mcy;&acy;&rcy;&tcy;&fcy;&ocy;&ncy;&ycy;
            .col-12.col-sm-12.col-md-6.col-lg-3.col-xl-3.text-center.rounded.float-left.img_(style='border: 2px #ff8000 solid; width: 408px')
                div(style='display: flex; justify-content: space-around; align-items: center; height: 100%')
                    a(href='accessories.html')
                        img.img-thumbnail.post-itm(src='../photos/fenrir.jpg' style='height: 220px;')
                a.text-center(href='accessories.html' style='padding-bottom: 20px') &Acy;&kcy;&scy;&iecy;&scy;&ucy;&acy;&rcy;&ycy; &dcy;&lcy;&yacy; &tcy;&iecy;&lcy;&iecy;&fcy;&ocy;&ncy;&acy;
            .col-12.col-sm-12.col-md-6.col-lg-3.col-xl-3.text-center.rounded.float-left.img_(style='border: 2px #ff8000 solid; width: 408px')
                div(style='display: flex; justify-content: space-around; align-items: center; height: 100%')
                    a(href='pusPhone.html')
                        img.img-thumbnail.post-itm(src='../photos/nokia.jpg' style='height: 220px;')
                a.text-center(href='pusPhone.html' style='padding-bottom: 20px') &Kcy;&ncy;&ocy;&pcy;&ocy;&chcy;&ncy;&ycy;&iecy; &tcy;&iecy;&lcy;&iecy;&fcy;&ocy;&ncy;&ycy;
        h3.text-center.my-5 &Kcy;&ocy;&mcy;&pcy;&lcy;&iecy;&kcy;&tcy;&ucy;&yucy;&shchcy;&icy;&iecy; &dcy;&lcy;&yacy; &Pcy;&Kcy;
        .row
            .col-12.col-sm-12.col-md-6.col-lg-3.col-xl-3.text-center.rounded.float-left.img_(style='border: 2px #ff8000 solid; width: 408px')
                div(style='display: flex; justify-content: space-around; align-items: center; height: 100%')
                    a(href='VideoCard.html')
                        img.img-thumbnail.post-itm(src='../photos/vidokarta.jpg' style='height: 220px;')
                a.text-center(href='VideoCard.html' style='padding-bottom: 20px') &Vcy;&icy;&dcy;&iecy;&ocy;&kcy;&acy;&rcy;&tcy;&acy;
            .col-12.col-sm-12.col-md-6.col-lg-3.col-xl-3.text-center.rounded.float-left.img_(style='border: 2px #ff8000 solid; width: 408px')
                div(style='display: flex; justify-content: space-around; align-items: center; height: 100%')
                    a(href='Proc.html')
                        img.img-thumbnail.post-itm(src='../photos/intel.jpg' style='height: 220px;')
                a.text-center(href='Proc.html' style='padding-bottom: 20px') &Pcy;&rcy;&ocy;&tscy;&iecy;&scy;&scy;&ocy;&rcy;&ycy;
            .col-12.col-sm-12.col-md-6.col-lg-3.col-xl-3.text-center.rounded.float-left.img_(style='border: 2px #ff8000 solid; width: 408px')
                div(style='display: flex; justify-content: space-around; align-items: center; height: 100%')
                    a(href='motherboar.html')
                        img.img-thumbnail.post-itm(src='../photos/mat.jpg' style='height: 220px;')
                a.text-center(href='motherboar.html' style='padding-bottom: 20px') &Mcy;&acy;&tcy;&iecy;&rcy;&icy;&ncy;&scy;&kcy;&acy;&yacy; &pcy;&lcy;&acy;&tcy;&acy;
        h3.text-center.my-5 &Ncy;&ocy;&ucy;&tcy;&bcy;&ucy;&kcy;&icy;
        .row
            .col-12.col-sm-12.col-md-6.col-lg-3.col-xl-3.text-center.rounded.float-left.img_(style='border: 2px #ff8000 solid; width: 408px')
                div(style='display: flex; justify-content: space-around; align-items: center; height: 100%')
                    a(href='ultrabook.html')
                        img.img-thumbnail.post-itm(src='../photos/ultrabook.jpg' style='height: 220px;')
                a.text-center(href='ultrabook.html' style='padding-bottom: 20px') &Ucy;&lcy;&softcy;&tcy;&rcy;&acy;&bcy;&ucy;&kcy;
            .col-12.col-sm-12.col-md-6.col-lg-3.col-xl-3.text-center.rounded.float-left.img_(style='border: 2px #ff8000 solid; width: 408px')
                div(style='display: flex; justify-content: space-around; align-items: center; height: 100%')
                    a(href='macbook.html')
                        img.img-thumbnail.post-itm(src='../photos/macbook.jpg' style='height: 220px;')
                a.text-center(href='macbook.html' style='padding-bottom: 20px') &Mcy;&acy;&kcy;&bcy;&ucy;&kcy;
            .col-12.col-sm-12.col-md-6.col-lg-3.col-xl-3.text-center.rounded.float-left.img_(style='border: 2px #ff8000 solid; width: 408px')
                div(style='display: flex; justify-content: space-around; align-items: center; height: 100%')
                    a(href='gamenoot.html')
                        img.img-thumbnail.post-itm(src='../photos/gamenoot.jpg' style='height: 220px;')
                a.text-center(href='gamenoot.html' style='padding-bottom: 20px') &Icy;&gcy;&rcy;&ocy;&vcy;&ocy;&jcy; &ncy;&ocy;&ucy;&tcy;&bcy;&ucy;&kcy;
include component/footer
include component/script_foot
script(src='../js/Network.js')