doctype html
head
include ../views/component/script_head
    title &Lcy;&icy;&chcy;&ncy;&ycy;&jcy; &kcy;&acy;&bcy;&icy;&ncy;&iecy;&tcy;
include ../views/component/header
include ../views/component/mainContent
        h3.text-center.my-5 &Lcy;&icy;&chcy;&ncy;&ycy;&jcy; &kcy;&acy;&bcy;&icy;&ncy;&iecy;&tcy;
        #loadName
            img#preloader.rounded.mx-auto.d-block(src='../photos/preloader.gif' style='height: 50px; width: 50px;' alt='...')
        #LK.row
include ../views/component/footer
include ../views/component/script_foot
script(src='../js/Network.js')
