doctype html
head
include component/script_head
    title Macbook
include component/header
include component/mainContent
        h3.text-center.my-5 Macbook
        #product.row
include component/footer
include component/script_foot
script(src='../js/Macbook.js')