doctype html
head
include component/script_head
    title &Mcy;&acy;&tcy;&iecy;&rcy;&icy;&ncy;&scy;&kcy;&icy;&iecy; &pcy;&lcy;&acy;&tcy;&ycy;
include component/header
include component/mainContent
        h3.text-center.my-5 &Mcy;&acy;&tcy;&iecy;&rcy;&icy;&ncy;&scy;&kcy;&icy;&iecy; &pcy;&lcy;&acy;&tcy;&ycy;
        #product.row
include component/footer
include component/script_foot
script(src='../js/motherboard.js')
