doctype html
head
include ../views/component/script_head
    title &Lcy;&icy;&chcy;&ncy;&ycy;&jcy; &kcy;&acy;&bcy;&icy;&ncy;&iecy;&tcy;
include ../views/component/header
include ../views/component/order
                .text-left
                    h3.p-3.text-center &Vcy;&acy;&shcy;&icy; &pcy;&iecy;&rcy;&scy;&ocy;&ncy;&acy;&lcy;&softcy;&ncy;&ycy;&iecy; &dcy;&acy;&ncy;&ncy;&ycy;&iecy;
                    img.rounded.float-start(src='../photos/profile.jpg')
                    table.table.table-striped
                        tbody
                            tr
                                td(colspan='1') &Fcy;&Icy;&Ocy;
                                td#Name
                            tr
                                td(colspan='1') Email
                                td#email
                            tr
                                td(colspan='1') &Tcy;&iecy;&lcy;&iecy;&fcy;&ocy;&ncy;
                                td#phone
                            tr
                                td(colspan='1') &Gcy;&ocy;&rcy;&ocy;&dcy;
                                td#city1
                            tr
                                td(colspan='1') &Dcy;&acy;&tcy;&acy; &rcy;&ocy;&zhcy;&dcy;&iecy;&ncy;&icy;&yacy;
                                td#dateBirhday
                            tr
                                td(colspan='1') &Scy;&tcy;&acy;&tcy;&ucy;&scy;
                                td#role
include component/footer
include component/script_foot
script(src='../js/myAccount.js')