doctype html
head
include component/script_head
    link(rel='icon' type='img/png' href='../photos/programmer.png')
include component/header
include component/order
include component/footer
include component/script_foot
script(src='../js/orderShopkipper.js')
