doctype html
head
include ../views/component/script_head
    title &Zcy;&acy;&kcy;&acy;&zcy;&ycy; &dcy;&lcy;&yacy; &dcy;&ocy;&scy;&tcy;&acy;&vcy;&shchcy;&icy;&kcy;&ocy;&vcy;
include ../views/component/header
include ../views/component/order
include ../views/component/footer
include ../views/component/script_foot
script(src='../js/orderDelivery.js')
