doctype html
head
include component/script_head
    title &Pcy;&rcy;&ocy;&tscy;&iecy;&scy;&scy;&ocy;&rcy;&ycy;
include component/header
include component/mainContent
        h3.text-center.my-5 &Pcy;&rcy;&ocy;&tscy;&iecy;&scy;&scy;&ocy;&rcy;&ycy;
        #product.row
include component/footer
include component/script_foot
script(src='../js/proc.js')
