doctype html
head
include component/script_head
    title &Mcy;&acy;&gcy;&acy;&zcy;&icy;&ncy;&ycy;
include component/header
include component/mainContent
        h3.text-center.my-5 &Kcy;&ncy;&ocy;&pcy;&ocy;&chcy;&ncy;&ycy;&iecy; &tcy;&iecy;&lcy;&iecy;&fcy;&ocy;&ncy;&ycy;
        #product.row
include component/footer
include component/script_foot
script(src='../js/pushPhone.js')