doctype html
head
include ../views/component/script_head
    title &Scy;&mcy;&acy;&rcy;&tcy;&fcy;&ocy;&ncy;&ycy;
include ../views/component/header
include ../views/component/mainContent
        h3.text-center.my-5 &Scy;&mcy;&acy;&rcy;&tcy;&fcy;&ocy;&ncy;&ycy;
        #product.row
include ../views/component/footer
include ../views/component/script_foot
script(src='../js/smartphfon.js')
