doctype html
head
include component/script_head
title &Ucy;&lcy;&softcy;&tcy;&rcy;&acy;&bcy;&ucy;&kcy;&icy;
include component/header
include component/mainContent
        h3.text-center.my-5 &Ucy;&lcy;&softcy;&tcy;&rcy;&acy;&bcy;&ucy;&kcy;&icy;
        #product.row
include component/footer
include component/script_foot
script(src='../js/ul.js')