doctype html
head
include ../views/component/script_head
    title &Vcy;&icy;&dcy;&iecy;&ocy;&kcy;&acy;&rcy;&tcy;&ycy;
include ../views/component/header
include ../views/component/mainContent
        h3.text-center.my-5 &Vcy;&icy;&dcy;&iecy;&ocy;&kcy;&acy;&rcy;&tcy;&ycy;
        #product.row
include ../views/component/footer
include ../views/component/script_foot
script(src='../js/videocard.js')