#carouselExampleDark.carousel.carousel-dark.slide(data-bs-ride='carousel')
    .carousel-inner
        .carousel-item.active(data-bs-interval='10000')
            img.d-block.w-100(src='../photos/sale.jpg' alt='...')
        .carousel-item(data-bs-interval='2000')
            img.d-block.w-100(src='../photos/dostavka.jpg' alt='...')
        .carousel-item
            img.d-block.w-100(src='../photos/unnamed.png' alt='...')
    button.carousel-control-prev(type='button' data-bs-target='#carouselExampleDark' data-bs-slide='prev')
        span.carousel-control-prev-icon(aria-hidden='true')
        span.visually-hidden &Pcy;&rcy;&iecy;&dcy;&ycy;&dcy;&ucy;&shchcy;&icy;&jcy;
    button.carousel-control-next(type='button' data-bs-target='#carouselExampleDark' data-bs-slide='next')
        span.carousel-control-next-icon(aria-hidden='true')
        span.visually-hidden &Scy;&lcy;&iecy;&dcy;&ucy;&yucy;&shchcy;&icy;&jcy;