footer
    br
    br
    .footer-top
        .container
            .row
                .col-lg-3.col-md-6
                    .footer-info
                        h3 &Ecy;&lcy;&iecy;&kcy;&tcy;&rcy;&ocy;&ncy;&icy;&kcy;&acy; &ocy;&tcy; &Vcy;&iecy;&lcy;&icy;&kcy;&ocy;&dcy;&ncy;&ocy;&gcy;&ocy; &Acy;&lcy;&iecy;&kcy;&scy;&acy;&ncy;&dcy;&rcy;&acy;
                        p
                            strong &Tcy;&iecy;&lcy;&iecy;&fcy;&ocy;&ncy;:
                            |  +7-905-433-**-**
                            br
                            strong
                            |  284450@niuitmo.ru
                            br
                        .social-links.mt-3
                            a(href='https://vk.com/belython')
                                img(src='../photos/vk.jpg' style='height: 32px; width: 32px;')
                .col-lg-3.col-md-6.footer-links
                    h4 &Scy;&scy;&ycy;&lcy;&kcy;&icy;
                    ul
                        li
                            a(href='#') &Acy;&kcy;&tscy;&icy;&icy;
                        li
                            a(href='#') &Ucy;&scy;&lcy;&ucy;&gcy;&icy;
                        li
                            a(href='#') &Ocy;&bcy;&zcy;&ocy;&rcy;&ycy;
                        li
                            a(href='#') &Vcy;&acy;&kcy;&acy;&ncy;&scy;&icy;&icy;
                        li
                            a(href='#') &Ncy;&ocy;&vcy;&ocy;&scy;&tcy;&icy;
                .col-lg-3.col-md-6.footer-info
                    h4 &Ncy;&ocy;&vcy;&ocy;&scy;&tcy;&icy;
                    p &Zcy;&dcy;&iecy;&scy;&softcy; &bcy;&ucy;&dcy;&ucy;&tcy; &ncy;&ocy;&vcy;&ocy;&scy;&tcy;&icy; &icy; &pcy;&ocy;&dcy;&pcy;&icy;&scy;&kcy;&acy; &ncy;&acy; &rcy;&acy;&scy;&scy;&ycy;&lcy;&kcy;&ucy;
                    form(action='#')
                    input(type='email')
                    input(type='submit' value='Подписка')
    script.
      window.addEventListener("load", () => document.getElementById("demo").innerText = "Pages load " + loadTime + "c" + " (client) + " + loadTimeServer + "c" + " (server)")
    p#demo Pages load