main
    .container-fluid
        .row
            header.col-md-3
                nav.sidebar-sticky.navbar-expand-md
                    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                        span.navbar-toggler-icon
                    #navbarSupportedContent.collapse.navbar-collapse.text-left.m-5
                        ul.navbar-nav.mr-auto.flex-column
                            li.nav-item.active
                                a.h3.pb-4.nav-link(href='myAccount.html') &Mcy;&ocy;&jcy; &pcy;&rcy;&ocy;&fcy;&icy;&lcy;&softcy;
                            li#user.nav-item
                                a.h3.pt-4.nav-link(href='allorder.html') &Mcy;&ocy;&icy; &zcy;&acy;&kcy;&acy;&zcy;&ycy;
                            li#shopkipper.nav-item
                                a.h3.pt-4.nav-link(href='orderShopkipper.html') &Zcy;&acy;&kcy;&acy;&zcy;&ycy;
                            li#delivery.nav-item
                                a.h3.pt-4.nav-link(href='orderDelivery.html') &Zcy;&acy;&kcy;&acy;&zcy;&ycy;
            main.col-md-5
                p-3.text-center &Zcy;&acy;&kcy;&acy;&zcy;&ycy;, &kcy;&ocy;&tcy;&ocy;&rcy;&ycy;&iecy; &ncy;&ucy;&zhcy;&ncy;&ocy; &scy;&ocy;&bcy;&rcy;&acy;&tcy;&softcy;
                #order